[2022-10-15 07:15] YoshithaRathnayake opened #2 "Add the topic"
Add the topic

[2022-10-15 07:17] yoshitha2008 commented on #2
Shall I work on this?

[2022-10-15 07:17] YoshithaRathnayake commented on #2
Sure, go ahead @yoshitha2008

[2022-10-15 07:17] Sayli6242 commented on #2
What is this issue? I cant get it?

[2022-10-15 07:18] YoshithaRathnayake commented on #2
sure

[2022-10-15 07:18] YoshithaRathnayake commented on #2
Adding the CALCULATOR topic

[2022-10-15 07:19] YoshithaRathnayake opened #3 "Add a sentence"
Add a sentence

[2022-10-15 07:19] yoshitha2008 commented on #3
Shall I work on this?

[2022-10-15 07:20] YoshithaRathnayake commented on #3
Sure, go ahead @yoshitha2008

[2022-10-15 07:25] yoshitha2008 opened #4 "Add image"
Add image

[2022-10-15 07:25] yoshitha2008 commented on #4
shall i work on this?

[2022-10-15 07:26] #4 closed

[2022-10-15 07:27] YoshithaRathnayake opened #5 "Add image"
Add image

[2022-10-15 07:27] yoshitha2008 commented on #5
shall I work on this?

[2022-10-15 07:27] YoshithaRathnayake commented on #5
Sure, go ahead @yoshitha2008

[2022-10-15 07:28] YoshithaRathnayake opened #6 "Add bg image"
Add bg image

[2022-10-15 07:29] yoshitha2008 commented on #6
shall I work on this?

[2022-10-15 07:29] YoshithaRathnayake commented on #6
Sure, go ahead @yoshitha2008

[2022-10-15 07:31] Sayli6242 commented on #2
can i add python calculator code

[2022-10-15 07:34] YoshithaRathnayake commented on #2
nope topic only for website

[2022-10-16 09:18] yoshitha-hack commented on #2
Shall I work on this?

[2022-10-16 09:18] yoshitha-hack commented on #3
Shall I work on this?

[2022-10-16 09:18] yoshitha-hack commented on #5
Shall I work on this?

[2022-10-16 09:18] yoshitha-hack commented on #6
Shall I work on this?

[2022-10-16 09:19] YoshithaRathnayake commented on #2
Sure, go ahead @yoshitha-hack

[2022-10-16 09:19] YoshithaRathnayake commented on #6
Sure, go ahead @yoshitha-hack

[2022-10-16 09:20] YoshithaRathnayake commented on #5
Sure, go ahead @yoshitha-hack

[2022-10-16 09:20] YoshithaRathnayake commented on #3
Sure, go ahead @yoshitha-hack

[2022-10-16 09:26] #6 closed

[2022-10-16 09:32] #2 closed

[2022-10-16 09:32] #5 closed

[2022-10-16 09:33] #3 closed

[2022-10-16 09:33] YoshithaRathnayake opened #11 "Center the topic"
Center the topic

[2022-10-16 09:49] #11 closed

[2022-10-19 17:02] YoshithaRathnayake opened #13 "Increase the font size of the main topic"
Increase the font size of the main topic

[2022-10-19 17:04] YoshithaRathnayake opened #14 "Decrease the size of the image"
Decrease the size of the image

[2022-10-19 17:04] YoshithaRathnayake opened #15 "Download button icon is missing"
Add the download button icon properly

[2022-10-19 17:06] YoshithaRathnayake opened #16 "Add a background image"
Add this background image to the site

![Background Image](https://user-images.githubusercontent.com/97069900/196757789-601bf265-90ad-4b02-bf37-a3d3f63ecef5.jpg)

[2022-10-19 17:07] YoshithaRathnayake opened #17 "Change the topic font style"
Change the topic font style to `EDO` font

[2022-10-19 17:08] YoshithaRathnayake opened #18 "Increase the paragraph font little bit"
Increase the paragraph font little bit

[2022-10-19 17:09] YoshithaRathnayake opened #19 "Increase the margin of the paragraph"
Increase the margin of the paragraph

[2022-10-19 17:09] YoshithaRathnayake opened #20 "Align the image to center"
Align the image to center

[2022-10-19 17:12] YoshithaRathnayake opened #21 "Align the paragraph to center"
Align the paragraph to center

[2022-10-19 17:12] JoydeepMallick commented on #20
I would like to work on this issue. Is it the calculator image in index.html to be centered?

[2022-10-19 17:12] YoshithaRathnayake opened #22 "Decrease the font weight of the paragraph little bit"
Decrease the font weight of the paragraph little bit

[2022-10-19 17:13] YoshithaRathnayake commented on #20
Sure, go ahead @JoydeepMallick . You have to center the cal image

[2022-10-19 17:14] YoshithaRathnayake commented on #20
Just simply put a center html tag for the img tag @JoydeepMallick

[2022-10-19 17:16] JoydeepMallick commented on #20
ok working on it.

[2022-10-19 17:17] YoshithaRathnayake commented on #20
Sure thanks

[2022-10-19 17:18] octosapien commented on #22
I would like to work on this issue .
Please assign this issue to me .

[2022-10-19 17:20] rishabhknowss commented on #21
please assign me this issue

[2022-10-19 17:21] rishabhknowss commented on #17
please assign me this issue

[2022-10-19 17:21] rishabhknowss commented on #16
please assign me this issue

[2022-10-19 17:21] JoydeepMallick commented on #20
I have made the PR, please check it out.

[2022-10-19 17:22] Shruti1998-mona commented on #21
can i do this issue?

[2022-10-19 17:23] Shruti1998-mona commented on #14
Can i do this issue?

[2022-10-19 17:23] YoshithaRathnayake commented on #22
Sure, go ahead @octosapien

[2022-10-19 17:24] YoshithaRathnayake commented on #14
Sure, go ahead @Shruti1998-mona

[2022-10-19 17:25] YoshithaRathnayake commented on #17
Sure, go ahead @rishabhknowss

[2022-10-19 17:26] YoshithaRathnayake commented on #21
Sure, go ahead @Shruti1998-mona

[2022-10-19 17:27] YoshithaRathnayake commented on #19
shall we give this chance to another bcs you have two assigned issues after that I will check and assign you ok? @rishabhknowss

[2022-10-19 17:28] joe-sida commented on #13
I would like to work on this. could you please assign me?

[2022-10-19 17:29] ankit060801 commented on #16
sir please assign me to this task

[2022-10-19 17:34] YoshithaRathnayake commented on #13
Sure, go ahead @joe-sida

[2022-10-19 17:35] YoshithaRathnayake commented on #19
Sure, go ahead @ankit060801

[2022-10-19 17:35] YoshithaRathnayake commented on #16
Sure, go ahead @ankit060801

[2022-10-19 17:37] YoshithaRathnayake commented on #16
Bro @ankit060801 don't tell me sir 😂😊. Tell me brother that's good for me 😊

[2022-10-19 17:38] #20 closed

[2022-10-19 17:53] ankit060801 commented on #16
ok bro @YoshithaRathnayake

[2022-10-19 17:54] YoshithaRathnayake commented on #16
Nice @ankit060801

[2022-10-19 17:59] charandevreddy commented on #22
can you assign me this?

[2022-10-19 18:00] charandevreddy commented on #21
can I do this?

[2022-10-19 18:06] octosapien commented on #15
I would really like to work on this .
Please assign this issue to me .

[2022-10-19 18:06] yf151290 commented on #15
Can you Assign this to me

[2022-10-19 18:07] YoshithaRathnayake commented on #18
Sure, go ahead @octosapien

[2022-10-19 18:09] YoshithaRathnayake commented on #15
Sure, go ahead @yf151290

[2022-10-19 18:09] YoshithaRathnayake commented on #15
@octosapien I assigned @yf151290 bcs you have two assigned issues ok?

[2022-10-19 18:11] YoshithaRathnayake opened #27 "Align the download button to center"
Align the download button to center

[2022-10-19 18:13] Anish-Sarawgi commented on #27
I Want to work on this issue.

[2022-10-19 18:14] YoshithaRathnayake commented on #27
Sure, go ahead @Anish-Sarawgi

[2022-10-19 18:28] #13 closed

[2022-10-19 18:28] #21 closed

[2022-10-19 18:31] YoshithaRathnayake opened #30 "There are two calculator images"
Remove the small calculator image

[2022-10-19 18:43] DivyanshVinayak23 commented on #30
Hi can I work on this?

[2022-10-19 18:44] DivyanshVinayak23 commented on #27
Hi can I also work on this?

[2022-10-19 19:09] pratyushkr11 commented on #30
Hello @YoshithaRathnayake please assign me this issue. I would like to work on this.

[2022-10-20 00:06] YoshithaRathnayake commented on #30
Sure, go ahead @DivyanshVinayak23

[2022-10-20 04:14] ShreyasSahoo opened #35 "Optimize the mobile view for the calculator-website"
Optimize the mobile view for the calculator-website

[2022-10-20 04:16] ShreyasSahoo commented on #35
@YoshithaRathnayake , can i work on this issue ? Please assign hacktoberfest-accepted label to the issue.

[2022-10-20 06:58] octosapien commented on #22
Thanks for assigning.
I am working on this issue.

[2022-10-20 11:41] YoshithaRathnayake commented on #35
Sure, good watch @ShreyasSahoo

[2022-10-20 12:19] Vishesh-Vijay commented on #27
pls assign this to me

[2022-10-20 12:25] Vishesh-Vijay commented on #18
please assign this to me

[2022-10-20 12:27] Vishesh-Vijay commented on #17
pls assign this to me

[2022-10-20 12:37] #18 closed

[2022-10-20 12:37] YoshithaRathnayake commented on #17
Sure go ahead @Vishesh-Vijay

[2022-10-20 13:14] Anish-Sarawgi commented on #27
Hey @YoshithaRathnayake,
I mistakely clicked on the unassign button, please re-assign this to me. Also i have sent a PR, please look into the changes.

Thankyou!

[2022-10-20 13:24] #27 closed

[2022-10-20 13:27] YoshithaRathnayake commented on #27
Sure, Merged! Thank you @Anish-Sarawgi

[2022-10-20 13:30] YoshithaRathnayake opened #42 "Add a new design to the readme.md file"
Add a new design to the readme.md file

[2022-10-20 13:41] Arcturus22 commented on #42
I would love to work on this. Please assign me this issue.

[2022-10-20 14:57] siddhesh-desai commented on #42
Hello, I would like to solve this. Please assign me to this issue.  Thankyou.

[2022-10-20 15:21] SohamG934 commented on #42
Hello @YoshithaRathnayake! I would like to work on this issue. Can you please assign it to me?

[2022-10-21 01:08] YoshithaRathnayake commented on #42
Sure, go ahead @SohamG934

[2022-10-21 12:14] #35 closed

[2022-10-22 03:21] #30 closed

[2022-10-22 04:12] YoshithaRathnayake opened #44 "big-calculator class of the img tag is missing"
big-calculator class of the img tag is missing. Add the big-calculator class to the img tag.

[2022-10-22 04:14] YoshithaRathnayake opened #45 "Wrap the download button tag with div tag with an id called button"
Wrap the download button tag with div tag with an id called button

[2022-10-22 04:19] YoshithaRathnayake opened #46 "Remove the styles add for text-center class"
The class put for title as text-center is an bootstrap class that centers the text. Someone have put that class in styles.css file and added some custom css. Add a new class called title. Then replace that .title class with the .text-center class in styles.css

[2022-10-22 04:22] Arcturus22 commented on #45
I would really love to work on this issue.
Please @YoshithaRathnayake assign me this issue.

[2022-10-22 04:23] YoshithaRathnayake commented on #45
Sure, go ahead @Arcturus22

[2022-10-22 04:23] Arcturus22 commented on #44
@YoshithaRathnayake
I would like to resolve this issue.Please assign me this issue.

[2022-10-22 04:24] YoshithaRathnayake commented on #44
Sure, go ahead @Arcturus22

[2022-10-22 04:26] octosapien commented on #46
I would love to work on this issue @YoshithaRathnayake .
Please assign me this issue .

[2022-10-22 04:27] ankitkumar0622 commented on #46
Hi , can you please assign me this task.

[2022-10-22 04:28] Tanucode commented on #45
I would like to work on this..can you please assign me this?

[2022-10-22 04:30] YoshithaRathnayake commented on #46
Sure, go ahead @octosapien

[2022-10-22 04:31] YoshithaRathnayake commented on #45
Assigned @Tanucode bcs you have an assigned issue @Arcturus22

[2022-10-22 04:31] YoshithaRathnayake commented on #45
Go ahed @Tanucode

[2022-10-22 05:35] Pravar25 commented on #45
I would like to work on it, can you please assign me this?

[2022-10-22 06:52] #44 closed

[2022-10-22 09:07] Arcturus22 commented on #45
Sir, I was really looking forward to resolving this issue. Would it be possible for you to reassign me this issue?

[2022-10-22 11:44] YoshithaRathnayake commented on #45
??? Did you say anything @Arcturus22

[2022-10-22 13:01] Arcturus22 commented on #45
I was asking if it would be possible for you to assign this issue to me also (or reassign me). I was looking forward to contributing to it.
@YoshithaRathnayake

[2022-10-22 13:20] YoshithaRathnayake commented on #45
Ok then I will assign you to this issue @Arcturus22

[2022-10-22 14:17] Abhishekgupta204 commented on #42
Please assign this issue to me.  I would love to work on this

[2022-10-22 14:18] Abhishekgupta204 commented on #42
@YoshithaRathnayake  please assign this issue to me.I would love to work on this.

[2022-10-22 14:20] YoshithaRathnayake commented on #42
I will assign you @Arcturus22 can you work on this?

[2022-10-22 14:28] Abhishekgupta204 commented on #15
@YoshithaRathnayake I am willing to work on this issue please assign this issue to me.

[2022-10-22 14:29] YoshithaRathnayake commented on #15
Sure, go ahead @Abhishekgupta204

[2022-10-22 15:12] #15 closed

[2022-10-22 15:21] Abhishekgupta204 commented on #14
@YoshithaRathnayake I am willing to work on this issue.Please assign this issue to me.

[2022-10-22 15:22] YoshithaRathnayake commented on #14
Sure, go ahead @Abhishekgupta204

[2022-10-22 15:24] Arcturus22 commented on #42
Yes, Gladly.
Will it be possible for you to tell me what more I should include in it?
@YoshithaRathnayake

[2022-10-22 15:26] YoshithaRathnayake commented on #42
You can do it like this https://www.github.com/YoshithaRathnayake/NEW-YOSHITHA-WEBSITE see the readme.md file of this repository and do it like it @Arcturus22

[2022-10-22 16:17] octosapien opened #53 "Give the paragraph a faint grey background that distinguishes its contents from the rest of the page ."
The paragraph would be better readable and more distinguishable form the rest of the page if it had a slightly grey background and occupied a certain fraction of the page-width .

This is how it would look...
![image](https://user-images.githubusercontent.com/114580332/197349926-6d7a568a-a13a-4e5f-8ae7-6839eb0433b2.png)

I would love to work on this .
Please assign me this issue .

[2022-10-22 16:49] octosapien commented on #53
I would love to work on this .
Please assign me this issue .

[2022-10-22 18:53] Tanucode commented on #53
can you assign this issue to me ?

[2022-10-22 19:07] Abhishekgupta204 opened #56 "To fix the icon inside the download button and remove the other download button."
There are two download buttons on the website.It would be better if the icon inside one button was fixed and the other button was removed.
I would like to work on this issue.
Please assign this issue to me.

[2022-10-22 19:08] Abhishekgupta204 commented on #56
I would like to work on this issue.
Please assign this issue to me.

[2022-10-23 03:51] YoshithaRathnayake commented on #53
Sure, go ahead @octosapien

[2022-10-23 03:51] YoshithaRathnayake commented on #56
Sure, go ahead @Abhishekgupta204

[2022-10-23 03:55] #42 closed

[2022-10-23 03:58] #14 closed

[2022-10-23 04:00] YoshithaRathnayake opened #58 "Remove the .big-calculator class from styles.css file and from index.html file"
.big-calculator class is no need for this site bcs I want to reduce the calculator image size. So remove the .big-calculator class from styles.css file and from index.html file

[2022-10-23 04:01] kashish0604 commented on #58
Hey @YoshithaRathnayake can you assign this issue to me i can work on it

[2022-10-23 04:03] ShivPandey5677 commented on #58
can you assign this issue to me
@YoshithaRathnayake

[2022-10-23 04:05] YoshithaRathnayake commented on #58
Sure, go ahead @kashish0604

[2022-10-23 04:08] YoshithaRathnayake commented on #58
I will assign both of you and one who has opened the pr first, I will accept his/her pr and I will merge. @kashish0604 @ShivPandey5677

[2022-10-23 04:10] YoshithaRathnayake opened #60 "`Clone your forked repository` section and description are sticked together"
**Describe the bug**
`Clone your forked repository` section and description are sticked together

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Readme.md file'
3. Scroll down to 'Clone your forked repository'
4. See error

**Expected behavior**
Click the end of the Clone your forked repository title and hit enter

**Screenshots**
![image](https://user-images.githubusercontent.com/970

[2022-10-23 04:11] kashish0604 commented on #58
hey @YoshithaRathnayake Done kindly check the PR

[2022-10-23 04:12] #58 closed

[2022-10-23 04:13] YoshithaRathnayake commented on #58
Merged! @kashish0604

[2022-10-23 04:19] Arcturus22 commented on #60
Please assign me this.I would work on this.
 @YoshithaRathnayake

[2022-10-23 04:19] YoshithaRathnayake commented on #60
Sure, go ahead @Arcturus22

[2022-10-23 04:26] kashish0604 commented on #17
hey @YoshithaRathnayake can u assign this issue to me i can work on it

[2022-10-23 04:28] YoshithaRathnayake commented on #17
Sure, go ahead @kashish0604

[2022-10-23 05:54] #53 closed

[2022-10-23 06:46] #56 closed

[2022-10-23 07:24] bhavy2202 commented on #17
Please assign me if this is still open.

[2022-10-23 07:26] YoshithaRathnayake commented on #17
I will assign both of you and one who has opened the pr first, I will accept his/her pr and I will merge. @kashish0604 @bhavy2202

[2022-10-23 08:38] #60 closed

[2022-10-23 08:52] #17 closed

[2022-10-23 08:54] YoshithaRathnayake commented on #46
I will assign both of you and one who has opened the pr first, I will accept his/her pr and I will merge. @octosapien @ankitkumar0622

[2022-10-23 08:54] bhavy2202 commented on #19
Please assign me if this is still open

[2022-10-23 08:55] YoshithaRathnayake commented on #19
Sure, go ahead @bhavy2202

[2022-10-23 09:13] bhavy2202 commented on #19
Can you elaborate a bit on the issue? Should I increase the padding or margin of the whole paragraph box?

[2022-10-23 09:18] YoshithaRathnayake commented on #19
Both padding and margin @bhavy2202

[2022-10-23 09:40] YoshithaRathnayake commented on #19
I will assign all of you and one who has opened the pr first, I will accept his/her pr and I will merge. @rishabhknowss @ankit060801 @Vishesh-Vijay @bhavy2202

[2022-10-23 10:28] bhavy2202 commented on #16
Hey, is this issue still open?

[2022-10-23 10:36] YoshithaRathnayake commented on #16
Yes @bhavy2202

[2022-10-23 10:37] #19 closed

[2022-10-23 10:38] YoshithaRathnayake opened #68 "Remove the "| YOSHITHA" part from the heading"
Remove the "| YOSHITHA" part from the heading

[2022-10-23 10:38] YoshithaRathnayake opened #69 "Bold the heading"
Bold the heading

[2022-10-23 10:38] YoshithaRathnayake opened #70 "Italic the heading"
Italic the heading

[2022-10-23 10:41] YoshithaRathnayake opened #71 "Reduce the background color of the paragraph"
Reduce the background color of the paragraph

[2022-10-23 10:42] Pragya2056 commented on #71
Please state what kind of reduction and assign me!!

[2022-10-23 10:42] JP109 commented on #71
Hi, I'd like to work on this issue!

[2022-10-23 10:42] Pragya2056 commented on #69
Please assign me

[2022-10-23 10:42] Pragya2056 commented on #70
Please assign me

[2022-10-23 10:42] JP109 commented on #70
Hi, I'd like to work on this issue!

[2022-10-23 10:43] JP109 commented on #68
I would like to work on this issue.

[2022-10-23 10:45] YoshithaRathnayake commented on #71
I will assign you all to this issue, the one who has opened the PR first, will accepted and merged by me @Pragya2056 @JP109

[2022-10-23 10:45] YoshithaRathnayake commented on #69
Sure, go ahead @Pragya2056

[2022-10-23 10:46] Pragya2056 commented on #71
@YoshithaRathnayake
Color reduction to lighter ?

[2022-10-23 10:46] YoshithaRathnayake commented on #70
I will assign you all to this issue, the one who has opened the PR first, will accepted and merged by me @Pragya2056 @JP109

[2022-10-23 10:46] YoshithaRathnayake commented on #68
Sure, go ahead @JP109

[2022-10-23 10:47] YoshithaRathnayake commented on #71
Yes @Pragya2056

[2022-10-23 10:48] Pragya2056 commented on #71
Okay!! Coming right up.

[2022-10-23 10:50] bhavy2202 commented on #16
Please assign me

[2022-10-23 10:52] YoshithaRathnayake commented on #16
Sure, go ahead @bhavy2202

[2022-10-23 11:08] #70 closed

[2022-10-23 11:08] iamrahul25 commented on #68
Can you please assign this issue to me.

[2022-10-23 11:18] the3plet commented on #71
please assign me

[2022-10-23 11:20] the3plet commented on #68
i would like to fix this issue assign me

[2022-10-23 12:23] Abhishekgupta204 commented on #69
@YoshithaRathnayake  I would like to work on this issue.
Please assign this issue to me.

[2022-10-23 12:40] Abhishekgupta204 opened #78 "To add a hover effect on the download button"
Add hover effect to the download button.
@YoshithaRathnayake  I would love to work on this issue.
Please assign this issue to me.

[2022-10-23 12:41] Abhishekgupta204 commented on #78
I would love to work on this issue.
Please assign this issue to me.

[2022-10-23 12:43] octosapien commented on #46
@YoshithaRathnayake
I had been assigned this issue .
And as I recall , this issue had been resolved by my Pull Request numbered #50 , which got merged .
However , this issue was not closed after being resolved by that same Pull Request .

The code no longer has this issue , but the issue is remains to be closed .

[2022-10-23 15:32] YoshithaRathnayake commented on #46
Oh sorry, I didn't see it. Thanks for reminding it to me @octosapien

[2022-10-23 15:32] #46 closed

[2022-10-23 15:39] octosapien commented on #71
I want to work on this.
Please assign me this issue .

[2022-10-23 15:41] the3plet opened #79 "hover effect for download button"
i have recently pushed a pr but requested proceed by issue so please assign me.

[2022-10-23 15:44] YoshithaRathnayake commented on #79
#79 Is a issue like this

[2022-10-23 15:45] YoshithaRathnayake commented on #79
So closing this issue

[2022-10-23 15:45] #79 closed

[2022-10-23 15:45] YoshithaRathnayake commented on #78
Sure, go ahead @Abhishekgupta204

[2022-10-23 15:47] YoshithaRathnayake opened #80 "Change the title of this page to CALCULATOR | YOSHITHA"
Change the title of this page to CALCULATOR | YOSHITHA

[2022-10-23 15:50] #69 closed

[2022-10-23 15:54] YoshithaRathnayake commented on #68
Sure, go ahead @the3plet

[2022-10-23 15:56] YoshithaRathnayake commented on #68
I will assign you all, the one who has done it first, it will accepted and get merged! @iamrahul25 @the3plet

[2022-10-23 15:57] #22 closed

[2022-10-23 15:58] #45 closed

[2022-10-23 15:59] Abhishekgupta204 commented on #80
@YoshithaRathnayake  I would love to work on this issue.
Please assign this issue to me.

[2022-10-23 16:00] YoshithaRathnayake commented on #80
Sure, go ahead @Abhishekgupta204

[2022-10-23 16:18] YoshithaRathnayake opened #81 "Remove the bold from font-style property in .title class in styles.css file"
Remove the bold from font-style property in .title class in styles.css file bcs if it is there it will become an error.

![image](https://user-images.githubusercontent.com/97069900/197403440-a68cc595-58c3-4784-96ef-5584b38cd45e.png)

[2022-10-23 16:21] YoshithaRathnayake opened #82 "Bold the main heading"
Bold the main heading

[2022-10-23 16:21] Tanucode commented on #81
can you assign me this?

[2022-10-23 16:22] Tanucode commented on #82
can you assign me this?

[2022-10-23 16:22] YoshithaRathnayake opened #83 "Make the title margin 10px to 10vh"
Make the title margin 10px to 10vh

![image](https://user-images.githubusercontent.com/97069900/197403679-cb45359c-7266-4310-a3a5-0fa09f9739f2.png)

[2022-10-23 16:23] YoshithaRathnayake commented on #81
Sure, go ahead @Tanucode

[2022-10-23 16:23] codesmith25103 commented on #83
I want to change it. Can you please assign me this?

[2022-10-23 16:23] YoshithaRathnayake commented on #82
Sure, go ahead @Tanucode

[2022-10-23 16:24] YoshithaRathnayake commented on #83
Sure, go ahead @codesmith25103

[2022-10-23 16:30] #83 closed

[2022-10-23 16:33] Arcturus22 commented on #82
Please assign me this issue @YoshithaRathnayake

[2022-10-23 16:34] Sanoj-DivJay commented on #82
can you assign me?

[2022-10-23 16:42] Arcturus22 commented on #81
@YoshithaRathnayake
I want to work on this issue. Please assign me this issue.

[2022-10-23 16:47] atharbeginner commented on #82
Hello @YoshithaRathnayake, an you assign me this issue ?

[2022-10-23 16:53] Abhishekgupta204 commented on #81
@YoshithaRathnayake I am willing to work on this issue.
Please assign me this issue.

[2022-10-23 16:54] Abhishekgupta204 commented on #82
@YoshithaRathnayake I am willing to work on this issue.
Please assign me this issue.

[2022-10-23 16:54] #80 closed

[2022-10-23 16:56] #78 closed

[2022-10-23 16:57] YoshithaRathnayake commented on #82
I will assign you all, the one who has done it first, it will accepted and get merged!

[2022-10-23 16:58] YoshithaRathnayake commented on #81
I will assign you all, the one who has done it first, it will accepted and get merged! @ @

[2022-10-23 17:13] octosapien commented on #71
@YoshithaRathnayake
I wan to work on this issue.
Please assign me.

[2022-10-24 02:36] #82 closed

[2022-10-24 02:42] #81 closed

[2022-10-24 02:44] YoshithaRathnayake commented on #71
I will assign you all, the one who has done it first, it will accepted and get merged!

[2022-10-24 05:55] Abhishekgupta204 commented on #68
@YoshithaRathnayake I would love to work on this issue.Please assign this issue to me.

[2022-10-24 08:17] #71 closed

[2022-10-24 08:18] YoshithaRathnayake commented on #68
Sure @Abhishekgupta204

[2022-10-24 09:46] #16 closed

[2022-10-24 14:20] octosapien opened #98 "The page heading is not visible beacuse of being similar in color to the background image ."
The page heading is not visible beacuse of being similar in color to the background image .
The heading could be made to stand out from the background through changes to the CSS file.

Before the change ...
![image](https://user-images.githubusercontent.com/114580332/197548177-b53b128c-18aa-4159-95ca-6083201cf1e3.png)

After the change...
![image](https://user-images.githubusercontent.com/11458033

[2022-10-24 14:23] YoshithaRathnayake commented on #98
Sure, go ahead @octosapien

[2022-10-24 14:28] YoshithaRathnayake opened #99 "Remove the background color of the paragraph"
Remove the background color of the paragraph

[2022-10-24 14:29] YoshithaRathnayake opened #100 "Convert the paragraph id to class both in index.html file and styles.css file"
Convert the paragraph id to class both in index.html file and styles.css file

[2022-10-24 14:29] YoshithaRathnayake opened #101 "Convert the download button id to class both in index.html file and styles.css file"
Convert the download button id to class both in index.html file and styles.css file

[2022-10-24 14:32] YoshithaRathnayake opened #102 "Create a new class for the img and replace it with the global css in the styles.css file"
Create a new class for the img and replace it with the global css in the styles.css file

[2022-10-24 14:33] octosapien commented on #102
I would love to work on this .
Please assign me this issue .

[2022-10-24 14:34] #98 closed

[2022-10-24 14:34] YoshithaRathnayake commented on #102
Sure, go ahead @octosapien

[2022-10-24 14:35] octosapien commented on #100
I would love to work on this .
Please assign me this issue .

[2022-10-24 14:35] YoshithaRathnayake commented on #100
Sure, go ahead @octosapien

[2022-10-24 14:44] YoshithaRathnayake opened #105 "Change the heading color to #26eab9"
Change the heading color to #26eab9

[2022-10-24 14:44] YoshithaRathnayake opened #106 "Increase the heading font size"
Increase the heading font size

[2022-10-24 14:46] octosapien commented on #105
I would love to work on this .
Please assign me this issue .

[2022-10-24 14:49] Yushmanth-reddy commented on #106
can you assign me this

[2022-10-24 14:50] YoshithaRathnayake commented on #106
Sure, go ahead @Yushmanth-reddy

[2022-10-24 15:19] MartinMaphutseng commented on #99
@MartinMaphutseng

May you please assign this issue to me

[2022-10-24 15:24] Abhishekgupta204 commented on #101
@YoshithaRathnayake I would love to work on this issue.
Please assign this issue to me.

[2022-10-24 15:26] Abhishekgupta204 commented on #99
@YoshithaRathnayake  I would love to work on this issue.
Please assign this issue to me.

[2022-10-24 15:37] YoshithaRathnayake commented on #101
Sure, go ahead @Abhishekgupta204

[2022-10-24 15:43] #99 closed

[2022-10-24 15:45] iamAditya01 commented on #106
can you assign me this one ? would be a pleasure to contribute to open source community

[2022-10-24 15:50] YoshithaRathnayake commented on #106
Sure

[2022-10-24 15:51] YoshithaRathnayake commented on #106
Read this @iamAditya01

[2022-10-24 15:54] iamAditya01 commented on #106
arey dude where is the file ? where am i supposed to increase the god damn font !

[2022-10-24 15:55] YoshithaRathnayake commented on #106
You don't work on this @iamAditya01

[2022-10-24 15:56] iamAditya01 commented on #106
lmao ! kids these days

[2022-10-24 15:57] #100 closed

[2022-10-24 15:59] iamAditya01 commented on #106
lmao ! kids these days

[2022-10-24 16:01] iamAditya01 commented on #105
lmao ! kid

[2022-10-24 16:01] YoshithaRathnayake commented on #106
Bla bla bla

[2022-10-24 16:16] #105 closed

[2022-10-24 16:26] octosapien commented on #102
@YoshithaRathnayake
It would help if you could elaborate a bit on what is meant by " replace it with the global css " ?

[2022-10-24 16:26] #106 closed

[2022-10-24 16:52] YoshithaRathnayake commented on #102
That means like we are adding some css to the html tags such as body, img, h1, h2. So they are called as adding css globally @octosapien

[2022-10-24 16:55] theotsuaneng commented on #68
Hi @YoshithaRathnayake can I please be assigned to this

[2022-10-24 17:02] YoshithaRathnayake commented on #68
Sorry a pr has already opened try another issue in this repo of in https://www.github.com/YoshithaRathnayake/NEW-YOSHITHA-WEBSITE @theotsuaneng

[2022-10-24 17:21] #68 closed

[2022-10-24 17:24] YoshithaRathnayake opened #112 "Make the background blur of the paragraph"
Make the background blur of the paragraph

[2022-10-24 17:24] YoshithaRathnayake opened #113 "Make the download button hover effect more attractive"
Make the download button hover effect more attractive

[2022-10-24 17:26] YoshithaRathnayake opened #114 "Change the description little bit"
Change the description little bit

Hi, I am Yoshitha Rathnayake. This is the Calculator App that I made using Python Programming Language. You can download it by clicking the below "Download" button. It's saying there are viruses, but don't worry they are lies.

[2022-10-24 17:26] YoshithaRathnayake opened #115 "Make the download button text uppercase"
Make the download button text uppercase

[2022-10-24 17:29] YoshithaRathnayake opened #116 "Change the link in the readme.md file to redirect the official website"
Change the link in the readme.md file to redirect the official website

![image](https://user-images.githubusercontent.com/97069900/197588673-53cd6397-7e5c-45af-8f8f-91a4e83291e9.png)

Add this link = calculator.yoshitha.tk

[2022-10-24 17:30] Abhishekgupta204 commented on #115
@YoshithaRathnayake I would love to work on this issue.
Please assign this issue to me.

[2022-10-24 17:30] YoshithaRathnayake opened #117 "Add the calculator logo to the features section in the readme.md file"
Add the calculator logo to the features section in the readme.md file

[2022-10-24 17:30] Abhishekgupta204 commented on #113
@YoshithaRathnayake I would love to work on this issue.
Please assign this issue to me.

[2022-10-24 17:32] Abhishekgupta204 commented on #114
@YoshithaRathnayake I would love to work on this issue.
Please assign this issue to me.

[2022-10-24 17:34] YoshithaRathnayake commented on #115
Sure, go ahead @Abhishekgupta204

[2022-10-24 17:34] YoshithaRathnayake commented on #113
Sure, go ahead @Abhishekgupta204

[2022-10-24 17:34] YoshithaRathnayake commented on #114
Sure, go ahead @Abhishekgupta204

[2022-10-24 17:35] YoshithaRathnayake opened #118 "Remove the dash in the Used Programming Languages description"
Remove the dash in the Used Programming Languages description

![image](https://user-images.githubusercontent.com/97069900/197589561-e3694c58-04b8-4398-ad2d-88ceeefeba4a.png)

Add the sentence like this = Used Programming Languages (HTML, CSS, BOOTSTRAP, PYTHON)

[2022-10-24 17:38] Abhishekgupta204 commented on #118
@YoshithaRathnayake  I would love to work on this issue.
Please assign this issue to me.

[2022-10-24 17:38] YoshithaRathnayake commented on #118
Sure, go ahead @Abhishekgupta204

[2022-10-24 17:39] YoshithaRathnayake opened #119 "Add python logo to the readme.md file"
Add python logo to the readme.md file

![image](https://user-images.githubusercontent.com/97069900/197590644-c7d1ddea-315e-4d18-94c0-00bce04053a9.png)

[2022-10-24 17:41] YoshithaRathnayake opened #120 "Change the last sentence of the Contributing Section"
Change the last sentence of the Contributing Section

![image](https://user-images.githubusercontent.com/97069900/197590831-c46ec027-b77b-47d9-8f1c-c9371fb381c0.png)

Add this sentence = The Pull Requests will be reviewed, accepted and merged accordingly.

[2022-10-24 17:42] YoshithaRathnayake opened #121 "Remove the (ME) part from the first sentence in the readme.md file"
Remove the (ME) part from the first sentence in the readme.md file

![image](https://user-images.githubusercontent.com/97069900/197591197-8a8bda4d-8018-4d8c-955e-896956b71406.png)

[2022-10-24 17:44] HluvukoMavundza commented on #119
can i be assigned this issue

[2022-10-24 17:45] YoshithaRathnayake commented on #119
Sure, go ahead @HluvukoMavundza

[2022-10-24 17:47] Sathasivamthirumoorthi commented on #120
can i assign this to me please

[2022-10-24 17:50] YoshithaRathnayake commented on #120
Sure, go ahead @Sathasivamthirumoorthi

[2022-10-24 17:50] Arcturus22 commented on #121
@YoshithaRathnayake
I want to resolve this issue. Please assign me this issue.

[2022-10-24 17:51] YoshithaRathnayake commented on #121
Sure, go ahead @Arcturus22

[2022-10-24 17:52] Arcturus22 commented on #120
@YoshithaRathnayake
I want to resolve this issue. Please assign me this issue.

[2022-10-24 17:53] YoshithaRathnayake commented on #120
Shall we give this chance to this new comer @Arcturus22. If he didn't work on this, I will assign you ok?

[2022-10-24 17:55] Arcturus22 commented on #120
Alright, I don't mind.

[2022-10-24 17:55] #121 closed

[2022-10-24 17:57] YoshithaRathnayake commented on #112
Sure, you have to blur the background of the paragraph section. Simply add backdrop filter to blur property in css @Sathasivamthirumoorthi

[2022-10-24 17:57] YoshithaRathnayake commented on #112
Shall I assign you @Sathasivamthirumoorthi

[2022-10-24 17:57] Arcturus22 commented on #116
@YoshithaRathnayake
May I work on this issue?

[2022-10-24 17:58] YoshithaRathnayake commented on #116
Sure, go ahead @Arcturus22

[2022-10-24 18:01] octosapien commented on #112
I want to work on this issue .
Could you assign me this ?

[2022-10-24 18:01] Sathasivamthirumoorthi commented on #112
yes

[2022-10-24 18:02] #120 closed

[2022-10-24 18:03] YoshithaRathnayake commented on #112
Shall we give this chance to this new comer @octosapien

[2022-10-24 18:03] YoshithaRathnayake commented on #112
Sure, go ahead @Sathasivamthirumoorthi

[2022-10-24 18:04] Sathasivamthirumoorthi commented on #117
can you please assign this to me

[2022-10-24 18:04] YoshithaRathnayake commented on #112
Thanks @octosapien

[2022-10-24 18:05] YoshithaRathnayake commented on #120
Thanks @Arcturus22

[2022-10-24 18:07] #116 closed

[2022-10-24 18:30] Sathasivamthirumoorthi commented on #117
![Screenshot from 2022-10-24 23-59-12](https://user-images.githubusercontent.com/97246670/197599167-153f59b4-f690-40d4-8e1d-a273928b03a6.png)

[2022-10-24 18:30] Sathasivamthirumoorthi commented on #117
Is this okay @YoshithaRathnayake

[2022-10-25 08:19] riddhitech commented on #115
Please assign me this issue.

[2022-10-25 08:20] riddhitech commented on #112
Please assign me this issue.

[2022-10-25 09:50] #119 closed

[2022-10-25 10:05] Sathasivamthirumoorthi commented on #117
hey @YoshithaRathnayake  i have created PR , please check

[2022-10-25 10:06] #112 closed

[2022-10-25 10:08] #115 closed

[2022-10-25 10:09] YoshithaRathnayake commented on #117
Sure @Sathasivamthirumoorthi

[2022-10-25 10:11] YoshithaRathnayake commented on #117
I couldn't found any pr regarding to this issue can you add this as the src and create a new pr @Sathasivamthirumoorthi

src - assets/img/CALCULATOR.png

[2022-10-25 10:13] #114 closed

[2022-10-25 10:21] YoshithaRathnayake opened #130 "Increase the blur rate of the background of the paragraph"
Increase the blur rate of the background of the paragraph

[2022-10-25 10:21] YashJain2409 commented on #130
Can i work on this ?

[2022-10-25 10:22] YoshithaRathnayake commented on #130
Sure, go ahead @YashJain2409

[2022-10-25 10:24] YoshithaRathnayake opened #131 "Change the color of the background of the paragraph"
Change the color of the background of the paragraph to rgba(0,0,0,0.5)

[2022-10-25 10:25] Sathasivamthirumoorthi commented on #131
please assign this to me

[2022-10-25 10:27] YoshithaRathnayake commented on #131
Sure, go ahead @Sathasivamthirumoorthi

[2022-10-25 10:35] YashJain2409 commented on #130
Hey i have created pull request,you can review it.

[2022-10-25 10:41] YoshithaRathnayake commented on #130
Sure screenshot requested @YashJain2409

[2022-10-25 10:43] YoshithaRathnayake opened #134 "There are two paragraphs"
There are two paragraphs, remove the below one

[2022-10-25 10:43] YashJain2409 commented on #130
[
![snap](https://user-images.githubusercontent.com/60182679/197753141-94b5d481-2e88-4cb8-a469-c2dfb5f41b79.PNG)
](url)

[2022-10-25 10:44] YashJain2409 commented on #130
@YoshithaRathnayake shared screenshot

[2022-10-25 10:46] YoshithaRathnayake commented on #130
Nice! good job @YashJain2409

[2022-10-25 10:46] dissyulina commented on #134
Hi, I would like to work on this. Could you please assign me?

[2022-10-25 10:49] #131 closed

[2022-10-25 10:49] YoshithaRathnayake commented on #134
Sure, go ahead @dissyulina

[2022-10-25 11:33] #134 closed

[2022-10-25 11:35] YoshithaRathnayake opened #136 "Blur more the paragraph background"
Blur more the paragraph background. Add 50px as the blur rate

[2022-10-25 11:50] tarunvashishth commented on #136
I would like to work on this.

[2022-10-25 11:52] YoshithaRathnayake commented on #136
Sure, go ahead @tarunvashishth

[2022-10-25 12:04] YoshithaRathnayake opened #137 "Change the title of the readme.md file"
Change the title of the readme.md file as follows

![image](https://user-images.githubusercontent.com/97069900/197768522-dba9e4a3-1995-4f1b-96e0-70741123f92d.png)

[2022-10-25 12:10] Mercysticks commented on #137
please assign this to me
Let me work on it.

[2022-10-25 12:14] YoshithaRathnayake commented on #137
Sure, go ahead @Mercysticks

[2022-10-25 12:50] YandaSN commented on #101
Hi, can I be assigned to this please.

[2022-10-25 12:51] YoshithaRathnayake commented on #101
I will assign you all, the one who has done it first, it will accepted and get merged! @Abhishekgupta204  @YandaSN

[2022-10-25 12:59] YandaSN commented on #118
Hi, could I work on this, I would like to be assigned

[2022-10-25 13:05] YandaSN commented on #136
Hi there,
could I also add to this please.

[2022-10-25 13:48] PriteshKiri commented on #137
Can you please assign this to me as well

[2022-10-25 14:04] PriteshKiri commented on #113
Can you please assign this to me as well?

[2022-10-25 14:25] YoshithaRathnayake commented on #118
I will assign you all, the one who has done it first, it will accepted and get merged! @YandaSN  @Abhishekgupta204

[2022-10-25 14:28] #101 closed

[2022-10-25 14:30] YoshithaRathnayake commented on #137
I will assign you all, the one who has done it first, it will accepted and get merged! @Mercysticks  @PriteshKiri

[2022-10-25 14:30] YoshithaRathnayake commented on #113
I will assign you all, the one who has done it first, it will accepted and get merged! @Abhishekgupta204  @PriteshKiri

[2022-10-25 14:33] YoshithaRathnayake commented on #136
I will assign you all, the one who has done it first, it will accepted and get merged! @YandaSN  @tarunvashishth

[2022-10-25 15:01] PriteshKiri commented on #113
I have made a PR kindly check and merge

[2022-10-25 15:06] PriteshKiri commented on #137
Have made a PR for this issue. Kindly check and merge.

[2022-10-25 15:12] YoshithaRathnayake commented on #113
A screenshot of the changes requested @PriteshKiri

[2022-10-25 16:06] #113 closed

[2022-10-26 13:32] sandilemnikathi commented on #136
@YoshithaRathnayake Please assign me

[2022-10-26 15:43] YoshithaRathnayake opened #144 "Add a beautiful scroll bar"
Add a beautiful scroll bar

[2022-10-26 15:43] YoshithaRathnayake opened #145 "Add back to top button"
Add back to top button

[2022-10-26 15:52] abhi87374 commented on #145
please assign this task to me....I have good idea to make it...

[2022-10-26 15:53] Abhishekgupta204 commented on #144
@YoshithaRathnayake I would love to work on this issue.
Please assign me this issue.

[2022-10-26 15:55] YoshithaRathnayake commented on #145
Sure, go ahead @abhi87374

[2022-10-26 15:56] YoshithaRathnayake commented on #144
Sure, go ahead @Abhishekgupta204

[2022-10-26 18:53] HluvukoMavundza commented on #144
can i also work on this issue

[2022-10-27 06:52] sandilemnikathi commented on #145
Can I be assigned this task

[2022-10-27 07:15] YoshithaRathnayake commented on #145
Sure @sandilemnikathi

[2022-10-27 07:59] YoshithaRathnayake opened #149 "Add preview link section to the Pull Request Template in .github directory"
Add preview link section to the Pull Request Template in .github directory

[code]

[2022-10-27 08:04] sandilemnikathi commented on #149
Please assign me

[2022-10-27 08:05] YoshithaRathnayake commented on #149
Sure, go ahead @sandilemnikathi

[2022-10-27 08:31] sandilemnikathi commented on #102
Is this done yet, if not can I be assigned

[2022-10-27 08:33] YoshithaRathnayake commented on #102
You can work on this @sandilemnikathi

[2022-10-27 10:39] YoshithaRathnayake opened #150 "Create a interactive navigation bar"
Create a interactive navigation bar

[2022-10-27 10:40] Mayureshkaulwar commented on #150
please assign to me

[2022-10-27 10:42] YoshithaRathnayake commented on #150
Are you sure to handle this. I want a perfect navbar. Can you do this? @Mayureshkaulwar

[2022-10-27 11:18] YoshithaRathnayake opened #151 "Add the YAML logo to the readme.md file"
Add the YAML logo to the readme.md file

![image](https://user-images.githubusercontent.com/97069900/198270706-dd72780f-dfa3-46cd-b149-e3f4c664fce1.png)

[2022-10-27 11:22] zmusaddique commented on #151
Hey @YoshithaRathnayake!

I would like to work on this

[2022-10-27 11:23] YoshithaRathnayake commented on #151
Sure, go ahead @zmusaddique

[2022-10-27 11:27] YoshithaRathnayake opened #152 "Add the javascript logo to the readme.md file"
Add the javascript logo to the readme.md file

![image](https://user-images.githubusercontent.com/97069900/198270706-dd72780f-dfa3-46cd-b149-e3f4c664fce1.png)

[2022-10-27 11:37] kheersagar commented on #152
please assign this task to me

[2022-10-27 11:41] YoshithaRathnayake commented on #152
Sure, go ahead @kheersagar

[2022-10-27 11:56] Arunkumar-60 commented on #152
please assign me the task

[2022-10-27 11:56] Arunkumar-60 commented on #151
please assign me the task

[2022-10-27 11:57] Arunkumar-60 commented on #150
please assign me the task

[2022-10-27 11:58] Arunkumar-60 commented on #117
assign me this task

[2022-10-27 12:32] YoshithaRathnayake commented on #151
sure

[2022-10-27 12:35] YoshithaRathnayake commented on #150
Sure @Arunkumar-60

[2022-10-27 12:36] YoshithaRathnayake commented on #117
Sure @Arunkumar-60

[2022-10-27 12:36] YoshithaRathnayake commented on #117
Do this @Arunkumar-60

[2022-10-27 12:39] #152 closed

[2022-10-27 14:52] codesmith25103 commented on #102
can you assign me this?

[2022-10-27 14:54] codesmith25103 commented on #145
can you assign me this?

[2022-10-28 01:12] YoshithaRathnayake commented on #102
Sure @codesmith25103

[2022-10-28 07:51] zmusaddique commented on #151
![image](https://user-images.githubusercontent.com/84737749/198533697-a23b07ac-b203-4986-89c2-4d10c67a7e53.png)

This is how it looks after resolving the conflict

[2022-10-28 07:51] zmusaddique commented on #151
Are you satisfied with it?

[2022-10-28 09:17] YoshithaRathnayake commented on #151
Decrease the size of the icon @zmusaddique

[2022-10-28 09:44] #137 closed

[2022-10-28 12:54] #151 closed

[2022-10-28 14:52] YoshithaRathnayake opened #163 "Add javascript to the readme.md file"
Add javascript to the readme.md file

![image](https://user-images.githubusercontent.com/97069900/198659524-69db5359-de4e-43c8-b7c9-d2313a63eeb5.png)

[2022-10-28 14:55] Zweak commented on #163
assign me

[2022-10-28 14:56] YoshithaRathnayake commented on #163
Sure, go ahead @Zweak

[2022-10-28 14:59] Blazeleo commented on #163
Hi i'm done.

[2022-10-28 15:00] YoshithaRathnayake commented on #163
You are not assigned @Blazeleo

[2022-10-28 15:29] YoshithaRathnayake opened #166 "Change the sentence in readme.md file"
Change the sentence in readme.md file as `Used Programming Languages (HTML, CSS, and BOOTSTRAP)`

![image](https://user-images.githubusercontent.com/97069900/198675082-2fa419d8-f4d0-4af6-b4d5-37756b7b7a0d.png)

[2022-10-28 15:31] YoshithaRathnayake opened #167 "Add python for the readme.md file"
Add python for the readme.md file

![image](https://user-images.githubusercontent.com/97069900/198675898-6726667f-2278-478b-b904-dcfb822d2f28.png)

[2022-10-28 15:32] YoshithaRathnayake opened #168 "Add Yaml for the readme.md file"
Add Yaml for the readme.md file

![image](https://user-images.githubusercontent.com/97069900/198676036-62ab6215-fa28-498a-a9d6-b6d111a135bb.png)

[2022-10-28 17:50] KanjiZain commented on #166
Please assign it to me @YoshithaRathnayake

[2022-10-28 23:17] Georgezogos commented on #167
Hello, could you please asign it to me?

[2022-10-29 01:10] YoshithaRathnayake commented on #166
Sure, go ahead @KanjiZain

[2022-10-29 04:36] codesmith25103 commented on #168
Can you assign me this?

[2022-10-29 04:57] YoshithaRathnayake commented on #168
Sure, go ahead @codesmith25103

[2022-10-29 13:09] Roxie2003 commented on #168
Can I work on it?

[2022-10-29 13:18] Roxie2003 commented on #118
Can you assign me this?

[2022-10-29 13:34] YoshithaRathnayake commented on #168
Sure @Roxie2003

[2022-10-29 13:35] YoshithaRathnayake commented on #118
Sure, go ahead @Roxie2003

[2022-10-30 02:28] #118 closed

[2022-10-30 02:34] #136 closed

[2022-10-30 08:10] #166 closed

[2022-10-30 09:26] LordMahir commented on #144
Please assign it to me

[2022-10-30 09:32] YoshithaRathnayake commented on #144
Sure @LordMahir

[2022-10-30 09:39] #168 closed

[2022-10-30 09:44] #167 closed

[2022-10-30 09:50] #149 closed

[2022-10-30 10:01] divya-nshi opened #173 "Repositioning visitor counter"
The visitor counter is not looking good at the corner. Aligning it with the description box in the center would give it a classy look.
i would like to solve this. could u please label it under hacktoberfest if u think this is needed.
![image](https://user-images.githubusercontent.com/96721993/198872845-a9e26036-3ac2-443f-8405-daeddd2c56ab.png)

[2022-10-30 10:09] YoshithaRathnayake commented on #173
Nice! go ahead @divya-nshi

[2022-10-30 12:50] #173 closed

[2022-10-30 13:05] YoshithaRathnayake opened #175 "Increase the margin between the download button and visitors counter"
Increase the margin between the download button and visitors counter

[2022-10-30 13:06] JanitaRiyaz commented on #175
i wanna do this. Plz assign this to me.

[2022-10-30 13:22] YoshithaRathnayake commented on #175
Sure, go ahead @JanitaRiyaz

[2022-10-30 14:22] #175 closed

[2022-10-30 14:25] JanitaRiyaz commented on #175
Your website is really awsome... The UI is really great.🙂

[2022-10-30 15:11] YoshithaRathnayake commented on #175
Thanks @JanitaRiyaz

[2022-10-31 13:14] bhavy2202 commented on #102
can you assign me?

[2022-10-31 13:48] YoshithaRathnayake commented on #102
Sure @bhavy2202

[2022-10-31 13:50] YoshithaRathnayake opened #179 "Add a new comment for the Preview Link section in PR Template to know how to add the preview link for contributors"
Add a new comment for the Preview Link section in PR Template to know how to add the preview link for contributors

[code]

[2022-10-31 14:16] YoshithaRathnayake opened #180 "The main heading's font style has been changed"
The main heading's font style has been changed. Change it to edo font

[2022-10-31 15:25] msabil443 commented on #180
Hey @YoshithaRathnayake I can solve this issue

[2022-10-31 15:43] YoshithaRathnayake commented on #180
Yes sure go ahead @msabil443

[2022-10-31 17:24] #102 closed

[2022-10-31 17:27] #150 closed

[2022-10-31 18:14] ShivPandey5677 commented on #144
Can you  please assign it to me i have previously worked on similar issue in other repository

[2022-10-31 22:47] Vishu-uut commented on #180
Can I do it?

[2022-11-01 01:29] YoshithaRathnayake commented on #144
Sure @ShivPandey5677

[2022-11-01 01:31] YoshithaRathnayake commented on #180
Sure I found the error its only working on chrome, the font style is not working in the brave browser, so fix that @msabil443 @Vishu-uut

[2022-11-01 10:05] YoshithaRathnayake opened #182 "Customize the nav bar to a beautiful design"
Customize the nav bar to a beautiful design

[2022-11-01 10:06] YoshithaRathnayake commented on #180
Fixed

[2022-11-01 10:06] #180 closed

[2022-11-01 10:12] #117 closed

[2022-11-01 12:25] #179 closed

[2022-11-01 12:26] #163 closed

[2022-11-01 12:30] YoshithaRathnayake opened #185 "Add a new comment for the Preview Link section in PR Template to know how to add the preview link for contributors"
Add a new comment for the Preview Link section in PR Template to know how to add the preview link for contributors

[code]

[2022-11-01 12:32] #185 closed

[2022-11-01 18:05] aksy2512 commented on #182
Can I work on this issue

[2022-11-02 01:16] YoshithaRathnayake commented on #182
Sure @aksy2512

[2022-11-02 18:26] aksy2512 commented on #182
@YoshithaRathnayake I don't how my PR got closed so I have created a new Pull request for the same. I apologize for the inconvenience

[2022-11-05 09:50] YoshithaRathnayake opened #190 "Change text selection colors"
Change text selection colors

[2022-11-05 09:58] #190 closed

[2022-11-05 09:59] YoshithaRathnayake opened #192 "Add color variables"
Add color variables

[2022-11-05 10:00] #192 closed

[2022-11-05 14:06] YoshithaRathnayake opened #194 "Reduce the height of the navbar"
Reduce the height of the navbar

[2022-11-05 14:11] #182 closed

[2022-11-05 14:12] YoshithaRathnayake opened #195 "Nav item alignments are bad"
Add a container-fluid tag to the nav tag in the index.html file

[2022-11-05 14:15] YoshithaRathnayake commented on #195
I will work on this

[2022-11-05 14:17] #195 closed

[2022-11-05 14:17] YoshithaRathnayake opened #197 "Format the code"
Format the code

[2022-11-05 14:36] #197 closed

[2022-11-05 14:36] YoshithaRathnayake opened #199 "Change the navbar code position"
Change the navbar code position

[2022-11-05 14:38] #199 closed

[2022-11-05 14:39] YoshithaRathnayake opened #201 "Remove unwanted codes from styles.css file"
Remove unwanted codes from styles.css file

[2022-11-05 14:40] #201 closed

[2022-11-05 14:41] YoshithaRathnayake opened #203 "Make the download button class as download-btn in both index.html and styles.css file"
Make the download button class as download-btn in both index.html and styles.css file

[2022-11-05 14:44] #203 closed

[2022-11-05 14:49] YoshithaRathnayake opened #205 "Increase the margin of the download button"
Increase the margin of the download button

[2022-11-05 14:53] #205 closed

[2022-11-05 14:55] #194 closed

[2022-11-05 14:56] YoshithaRathnayake opened #207 "Make the calculator image class as cal-img in both index.html and styles.css file"
Make the calculator image class as cal-img in both index.html and styles.css file

[2022-11-05 14:59] #207 closed

[2022-11-05 15:03] YoshithaRathnayake opened #210 "Make the header sticky"
Make the header sticky

[2022-11-05 15:04] YoshithaRathnayake opened #211 "Blur the background of the navbar"
Blur the background of the navbar

[2022-11-05 15:06] #210 closed

[2022-11-05 15:07] #211 closed

[2022-11-05 15:09] YoshithaRathnayake opened #214 "The main heading and the nav is sticked"
The main heading and the nav is sticked. Add margin top to the heading

[2022-11-05 15:10] #214 closed

[2022-11-05 15:18] #144 closed

[2022-11-09 14:24] zakirali05 commented on #211
try to put
 opacity :0 .4
 on navbar in css

[2022-11-09 14:40] YoshithaRathnayake commented on #211
Why? @zakirali05